.contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    background-color: rebeccapurple;
}

.login-button-container {
    margin-top: 1.5rem;
}

.contact-container {
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    font-size: 1.2rem;
}
